.container {
  min-height: calc(100vh - 95px);
  // background-image: url("./../../../assets/rick_and_morty__by_wazzaldorp-db5tayc.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35%;
}