<!-- <mat-card>
  <mat-card-content>
    <h2 class="example-h2">Material Button</h2>
    <button class="app-button" mat-button>FLAT</button>
    <button class="app-button" mat-raised-button mat-tooltip="This is a tooltip!">RAISED</button>
    <button class="app-button" mat-raised-button color="primary">PRIMARY RAISED</button>
    <button class="app-button" mat-raised-button color="accent">ACCENT RAISED</button>
  </mat-card-content>
</mat-card> -->

<!-- Material Tab -->
<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Componentes propios</h2>
    <p>En este paso queremos</p>
    <button class="app-button" mat-raised-button color="accent">Mostrar componente</button>

  </mat-card-content>
</mat-card>
<!-- /Material Tab -->