<mat-card>
    <mat-card-content>
      <h2>Componentes externos</h2>
      <p>En este paso queremos cargar un componente que se encuentra en un módulo externo de nuestra aplicación</p>
      <mat-card-actions>
 
        <button class="app-button" mat-raised-button color="primary" (click)="loadExternalModuleComponent()">Cargar componente de otro módulo</button>
  
      </mat-card-actions>
  
      <div #componentContainer class="component-contianer">
      </div>
  
    </mat-card-content>
  </mat-card>